run = "pnpm run dev"

hidden = [".config"]

[[hints]]
regex = "Error \\[ERR_REQUIRE_ESM\\]"
message = "We see that you are using require(...) inside your code. We currently do not support this syntax. Please use 'import' instead when using external modules. (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import)"

[nix]
channel = "stable-23_05"

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
npm_config_prefix = "$XDG_CONFIG_HOME/npm/node_global"
PATH = "$npm_config_prefix/bin:$REPL_HOME/node_modules/.bin"
PNPM_HOME = "$XDG_CONFIG_HOME/pnpm"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config", "package.json", "package-lock.json"]

[packager]
language = "nodejs-pnpm"

  [packager.features]
  packageSearch = true
  guessImports = false
  enabledForHosting = false

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
run = ["sh", "-c", "node index.js"]